

body {
    font-size: 16px;
    color:#786e7d;
    line-height: 1.43;
    font-family: Trebuchet MS, sans-serif;
}

.header {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: center;
  background: #7a00b3;
  color: white;
  font-size: 30px;
}
